*{
    margin: 0px;
    padding: 0px;
}

.grid{
    display: grid;
    grid-template: repeat(5,1fr);
    gap: 20px;
}

div{
    height: 100px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}