/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  margin: auto;
  display: grid;
  width: 960px;
  height: 600px;
  gap: 10px;
  grid-template-areas:
    "e e"
    "a b"
    "a c"
    "a d";
}

main {
  background-color: green;
  grid-area: a;
}

.blue {
  background-color: red;
  grid-area: b;
}

.yellow {
  background-color: red;
  grid-area: c;
}

.purple {
  background-color: red;
  grid-area: d;
}

header {
  background-color: yellow;
  grid-area: e;
}

@media screen and (max-width:600px) {
  .container {
    grid-template-areas: 
      "e"
      "a"
      "a"
      "b"
      "c"
      "d";
    width: 90%;
  }

}